<h1>@Model.GetName()</h1>

<ul>
  <li>@Model.GetName()</li>
  <li>@Model.GetPhoneNumber()</li>
  <li>@Model.GetAddress()</li>
  <a href='/contact/create'>Add another contact</a>
  <a href='/ContactList'>View all contacts</a>
  <a href='/contact/list/clear'>Clear all contacts</a></li>
</ul>
